<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style/style.css">
  <script src='/scripts/jquery.js'></script>
  <script src='/scripts/underscore.js'></script>
  <script src='/scripts/backbone.js'></script>
  <script src='/scripts/app.js'></script>
  <title>Ninja Coffee</title>
</head>
<body>

  <div id="wrapper">
    <header>
      <img src="/style/coffee-ninja-logo.png">
    </header>

    <section>
    <h1>Ninja Coffee</h1>
      <em>Coming soon!</em>
    </section>
  </div>

</body>
</html>
